{% extends 'reservation/base.html' %}

{% block content %}
   <div class="card mb-3 col-lg-auto" style="">

        <div class="card-body">

        <div class="carl-body">
            <h5 class="card-title text-center">イベント詳細</h5>
            <table class="profile_table mb-4 ">
                <tbody>
                    <tr>
                        <th class="header">主催</th> <!-- グループ名表示・リンク追記 -->
                        <td class="data"><a href="{% url 'group_detail_cal' event.group.pk  %} " >{{ event.group }}</a></td>
                    </tr>
                    <tr>
                        <th class="header">イベントタイトル</th>
                        <td class="data">{{ event.event_title }}</td>
                    </tr>
                    <tr>
                        <th class="header">内容</th>
                        <td class="data">{{ event.event_detail }}</td>
                    </tr>
                    <tr>
                        <th class="header">開催日時</th>
                        <td class="data">{{ event.event_date }}  {{ event.start_time }}-{{ event.end_time }}</td>
                        

                    </tr>
                    <tr>
                        <th class="header">参加予定</th>
                        <td class="data">
                        {% if not event.join_set.all %}
                            参加予約なし
                        {% endif %}
                        {% for member in event.join_set.all %}
                            {{ member.join_name.nickname }},
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

            {% if not is_join %}
                <ul class="list-group">
                
                    <li class="list-group-item">

                        <p>このイベントの参加予約をしますか？</p>
                        <a href="{% url 'event_join' event.pk  %} " class="btn btn-success">event参加</a>

                    </li>
                </ul>
            {% endif %}
 
        </div>
    </div>
</div>

{% endblock %}