{% extends 'reservation/base.html' %}

{% block content %}

    <div class="my-5">
        <h1>event!</h1>
    </div>
    {% comment %} {% extends 'reservation/month.html' %} {% endcomment %}
    <div class="card mb-3 col-lg-auto" style="">
        <div class="row no-gutters">

            <div class="col-md-8">
                <div class="card-body">
                <ul>
                    <li>
                        <h5 class="card-title">#{{ event.id }}/{{ event.event_title }}</h5>
                        <p class="card-text">{{ event.event_detail }}</p>
                    </li>
                    
                    <li class="list-group-item">
                    <form action="" method="POST">
                    {% csrf_token %}
                        <p>このイベントの参加予約をしますか？</p>
                        <p><button type="submit" class="btn btn-primary">参加予約 </button></p>
                    </form>
                    </li>
                </ul>

                 
                </div>
            </div>
            
        </div>
    </div>


{% endblock %}