{% extends 'reservation/base.html' %}

{% block content %}

<div class="row my-4 ">
    <div class="col-md-8">

            <a class="btn btn-warning" href="{% url 'gp_event_cal' %}">今月</a>
            <a class="btn btn-primary" href="{% url 'gp_event_cal' month_previous.year month_previous.month %}">前月</a>
        
            {{ month_current | date:"Y年m月" }}
            <a class="btn btn-primary" href="{% url 'gp_event_cal' month_next.year month_next.month %}">次月</a>

        <div class="card border-info">
                <table class="table border-dark" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            {% for w in week_names %}
                                <th >{{ w }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for week in month_days %}
                        <tr>
                            {% for day in week %}
                                {% if now == day %}
                                    <td class="table-success " style="width:80px;"><!--今日のマスを緑にする-->
                                {% else %}
                                    <td style="width:80px;" >
                                {% endif %}

                                {% if month_current.month != day.month %}
                                    {{ day | date:"m/d" }}
                                {% else %}
                                    {{ day.day }}
                                {% endif %}
                                    </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
        </div>


        {% for event in event_data %}
        
            <div class="card border-info">
          
                <div class="card-body">
                
                    <h5 class="card-title">#{{ event.id }}/{{ event.event_title }} {{event.event_date}}</h5>
                    <p>{{ event.start_time }}-{{ event.end_time }}</p>
                    <p class="card-text">{{ event.event_detail|truncatechars:100 }}</p>
                    <p ><a href="{% url 'group_detail'  event.group.pk  %} " class="">{{ event.group }}</a></p>
                    {% comment %} {% if user.email==approved_check.member %}
                        <a href="{% url 'event_edit' event.pk  %} " class="nav-link">event編集</a>
                    {% endif %} {% endcomment %}

                </div>

        
            </div>  
        {% endfor %}
 
           </div> 
        <div class="col-md-4">
  
            <div class="card">
            <h5 class="card-header">group menber</h5>
            </div>
        </div>


{% endblock %}