{% extends 'reservation/base.html' %}

{% block content %}
    <div class="my-5">
        <h1>group-detail!</h1>
    </div>

    <div class="card mb-3 col-lg-auto" style="">
        <div class="row no-gutters">

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">#{{ group_data.pk }}/{{ group_data.group_name }}</h5>
                    <p class="card-text">{{ group_data.group_detail }}</p>
                    
                    {% for m_name in member_names %}
                    {{m_name.name}} &ensp;
                    {% endfor %}
                    {% comment %} {% for data in member_data %}
                    {{ data.approved_member }} &ensp;
                    {% endfor %} {% endcomment %}
                </div>
                
                    <a href="{% url 'group_edit' group_data.pk  %} " class="nav-link">group編集</a>
                
                {% comment %} {% if user.is_staff %}
                    <a href="{% url 'group_edit' group_data.pk  %} " class="nav-link">group編集</a>
                {% endif %} {% endcomment %}
            </div>
            
        </div>
    </div>

{% endblock %}