{% extends 'reservation/base.html' %}

{% block content %}
    <div class="my-5">
        <h1>group!</h1>
    </div>
    {% for group in group_data %}
    <div class="card mb-3 col-lg-auto" style="">
        <div class="row no-gutters">

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">#{{ group.id }}/{{ group.group_name }}</h5>
                    <p class="card-text">{{ group.group_detail|truncatechars:100 }}</p>
                </div>
                <p><a href="{% url 'group_detail' group.pk  %} " class="nav-link">group詳細</a></p>
                <p><a href="{% url 'group_edit' group.pk  %} " class="nav-link">group編集</a></p>
                {% comment %} {% if user.is_staff %}
                    <a href="{% url 'group_edit' group.pk  %} " class="nav-link">group編集</a>
                {% endif %} {% endcomment %}
            </div>
            
        </div>
    </div>
    {% endfor %}

{% endblock %}