{% extends 'reservation/base.html' %}

{% block content %}
    <div class="my-5">
        <h1>group!</h1>
    </div>
    {% if searchForm %} <!-- searchFormがあれば -->
        <form action="{% url 'group' %}" method="get">
            <div >
            {{ searchForm }}
            <input type="submit" value="検索">
            <a href="{% url 'group' %}"> クリア </a>
            </div>
        </form>
    {% endif %}


    <div class="card-deck d-flex flex-wrap" >
    {% for group in group_data %}

        <div class="card  style="width:20rem;"" style="width:20rem;">

                <div class="card-body">
                    <h5 class="card-title">#{{ group.id }}/{{ group.group_name }}</h5>
                    <p>グループオーナー：{{ group.group_owner.nickname }}</p>
                    <p class="card-text">{{ group.group_detail }}</p>
        
            <!--staffでなければ表示しない-->
                {% if group.group_name in approvedmember_grouplist  %}<!--メンバーなら表示-->

                <p class=""><a href="{% url 'group_detail_cal' group.pk  %} " class="btn btn-success">group詳細</a>

                {% elif group.group_name in approvedstaff_grouplist  %}<!--メンバーなら表示-->

                <p class=""><a href="{% url 'group_detail_cal' group.pk  %} " class="btn btn-success">group詳細</a>
                
                {% endif %}


      
                {% if not group.group_name in approvedmember_grouplist %}<!--すでにメンバーなら表示しない-->
                {% if not group.group_name in applyingmember_grouplist %}<!--加入申請していないなら表示-->

            
                <p class=""><a href="{% url 'group_join' group.pk  %} " class="btn btn-primary">加入申請</a>
                </p>
                {% endif %}
                {% endif %}


                

                </div>

        </div>
    {% endfor %}
    </div>

{% endblock %}