{% extends 'reservation/base.html' %}

{% block content %}
    <div class="my-5">
        <h1>group!</h1>
    </div>
    <div class="card-deck d-flex flex-wrap" >
    {% for group in group_data %}

        <div class="card  style="width:20rem;"" style="width:20rem;">

                <div class="card-body">
                    <h5 class="card-title">#{{ group.id }}/{{ group.group_name }}</h5>
                    <p>グループオーナー：{{ group.group_owner.nickname }}</p>
                    <p class="card-text">{{ group.group_detail|truncatechars:100 }}</p>
        
            <!--staffでなければ表示しない-->

                <p class=""><a href="{% url 'group_detail' group.pk  %} " class="btn btn-success">group詳細</a>
                
        
                {% for ap_group in group.approvedstaff_set.all %}

                    {% if user_data == ap_group.staff %}<!--staffでなければ表示しない-->
                        <a href="{% url 'group_edit' group.pk  %} " class="btn btn-warning">group編集</a>
                    {% endif %}
                    
                {% endfor %}
                
                

                </p>
                </div>

        </div>
    {% endfor %}
    </div>

{% endblock %}