{% extends 'reservation/base.html' %}

{% block content %}
<h1>{{ group_data.group_name }} カレンダー</h1>
<p><a class='btn btn-primary' href="{% url 'group_detail' group_data.pk %}">グループ詳細へ</a></p>
<div class="row my-4 ">
    <div class="card col-md-5 my-2">
        <div class="card-body">
            <h4 class="card-title mb-3"><div hidden>#{{ group_data.pk }}</div>{{ group_data.group_name }} </h4><a href="# " class="btn btn-danger">スタッフ申請</a>
            <h5>グループオーナー：{{ group_data.group_owner.nickname }}</h5>
            <p class="card-text mb-3">{{ group_data.group_detail }}</p>
            
            <ul class="list-group listgroup-flush ">

                <li class="list-group-item">
                <p>【MEMBER】</p>
                    {% for m_name in member_names %}
                    {{ m_name.nickname }} &ensp;
                    {% endfor %} 
                </li> 
                

                <li class="list-group-item">
                <p>【EVENT】</p>
                    {% for event in event_data %}
                    {{ event.event_title }} &ensp;
                    {% endfor %} 
                </li>
            </ul> 
        </div>
       

    </div>
           

    <div class="col-md-7">

        <a class="btn btn-warning" href="{% url 'group_detail_cal' group_data.pk %}">今月</a>
        <a class="btn btn-primary" href="{% url 'group_detail_cal' group_data.pk month_previous.year month_previous.month %}">前月</a>
    
        <a class="btn btn-primary" href="{% url 'group_detail_cal' group_data.pk month_next.year month_next.month %}">次月</a>
        <h3>{{ month_current | date:"Y年m月" }}</h3>

        <div class="card border-info">
                {% comment %} <table class="table border-dark " style="table-layout:fixed;"> {% endcomment %}
                <table class="table border-dark " style="table-layout:fixed;">
            
                    <thead>
                        <tr >
                            {% for w in week_names %}
                                <th >{{ w }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for week in month_days %}
                        <tr >
                            {% for day in week %}
                                {% if now == day %}
                                    <td class="table-success rsv_day  rs_{{day }}"  style="width:80px;"><!--今日のマスを緑にする-->
                                    <div hidden class="date_hide active">{{day}}</div>
                                {% elif day in days %}
                                    <td class="table-warning rsv_day rs_{{day }}"  style="width:80px;" >
                                    <div hidden class="date_hide active">{{day}}</div><!--text検索できるように非表示で日付を入れておく-->

                                {% else %}
                                    <td class="rsv_day rs_{{day }}"  style="width:80px;" >
                                    <div hidden class="date_hide active">{{day}}</div>
                                {% endif %}

                                    {% if month_current.month != day.month %}
                                        {{ day | date:"m/d" }}
                            
                                    {% else %}
                                        {{ day.day }}
                                    {% endif %}
                                    </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
        </div>
    </div>
    

    <div class="card-deck d-flex flex-wrap" >
        {% for event in event_data %}
            {% if now == event.event_date %}
            <div class="active_event card border-info event_card {{event.event_date}}" style="width:20rem;">
            {% else %}
            <div class="event_hide card border-info event_card {{event.event_date}}" style="width:20rem;">
            {% endif %}
                <div class="card-body ">
                
                    <h5 class="card-title">#{{ event.id }}/{{ event.event_title }} <div class="date_class">{{event.event_date}}</div></h5>
                    <p>{{ event.start_time }}-{{ event.end_time }}</p>
                    <p class="card-text ">{{ event.event_detail|truncatechars:20 }}</p>
                    
                    <p ><a href="{% url 'group_detail' event.group.pk  %} " class="btn btn-success">{{ event.group }}</a></p>

                </div>

        
            </div>  
        {% endfor %}
    </div>  
 



{% endblock %}