{% extends 'reservation/base.html' %}

{% block content %}
    <div class="card card-profile my-5 mx-auto">
        <div class="carl-body">
            <h5 class="card-title text-center">プロフィール</h5>
            <table class="profile_table mb-4 ">
                <tbody>
                    <tr>
                        <th class="header">名前</th>
                        <td class="data">{{ user.first_name }} {{ user.last_name }} </td>
                    </tr>
                    <tr>
                        <th class="header">email</th>
                        <td class="data">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th class="header">ニックネーム</th>
                        <td class="data">{{ user.nickname }}</td>
                    </tr>
                    {% comment %} <tr>
                        <th class="header">staff</th>
                        <td class="data">{{ user.staff }}</td>
                    </tr>
                    <tr> {% endcomment %}
                        <th class="header">所属(member)</th>
                        <td class="data">
                        {% for group_m in group_data_m %}
                            {{ group_m.group }}
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">所属(staff)</th>
                        <td class="data">
                        {% for group_s in group_data_s %}
                            {{ group_s.group }}
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button mx-auto">
                <a href="{% url 'profile_form' user.pk %}" class="btn btn-lg btn-warning btn-block">編集する</a>
            </div>
        </div>
    </div>
{% endblock %}