{% extends 'reservation/base.html' %}

{% block content %}
    <div class="card  my-5 mx-auto">
        <div class="carl-body">
            <h5 class="card-title text-center">プロフィール</h5>
            <table class="profile_table mb-4 ">
                <tbody>
                    <tr>
                        <th class="header">名前</th>
                        <td class="data">{{ user.first_name }} {{ user.last_name }} </td>
                    </tr>
                    <tr>
                        <th class="header">email</th>
                        <td class="data">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th class="header">ニックネーム</th>
                        <td class="data">{{ user.nickname }}</td>
                    </tr>
                    <tr>
                        <th class="header">所属(staff)</th>
                        <td class="data">
                        {% for group_s in group_data_s %}
                        <a href="{% url 'group_detail' group_s.group.pk  %} " class="btn btn-success my-1">{{ group_s.group }}</a>

                        {% endfor %}
                        </td>
                    </tr>
    
                    <tr> 
                        <th class="header">所属(member)</th>
                        <td class="data">
                        {% for group_m in group_data_m %}
                            
                        <a href="{% url 'group_detail' group_m.group.pk  %} " class="btn btn-success my-1">{{ group_m.group }}</a>


                        {% endfor %}
                        </td>
                    </tr>
                    
                    <tr>
                        <th class="header">申請中(staff)</th>
                        <td class="data">
                        <form action="" method="POST">
                            {% csrf_token %}
                        {% for applying_s in user.applyingstaff_set.all %}
                        <label><input type="checkbox" name="applying_s_group" value="{{ applying_s.pk }}">
                        {{ applying_s.group }}</label>,
                        {% endfor %}
                        {% if user.applyingstaff_set.all %}
                        <p><input type="submit" value="申請中止" class="btn btn-warning my-1"></p>
                        {% endif %}
                        </form>

                        </td>
                    </tr>
                    <tr>
                        <th class="header">申請中(member)</th>
                        <td class="data">
                        <form action="" method="POST">
                            {% csrf_token %}
                        {% for applying_m in user.applyingmember_set.all %}

                        <label><input type="checkbox" name="applying_m_group" value="{{ applying_m.pk }}">
                        {{ applying_m.group }}</label>,
                        {% endfor %}
                        {% if user.applyingmember_set.all %}
                        <p><input type="submit" value="申請中止" class="btn btn-warning my-1"></p>
                        {% endif %}
                        </form>
                        </td>
                    </tr>
                    <tr>
                        <th class="header">予約済イベント</th>
                        <td class="data">
                        <form action="" method="POST">
                            {% csrf_token %}
                        {% for event in event_join %}
                            <p>
                            <label><input type="checkbox" name="event_join" value="{{ event.pk }}"><a href="{% url 'event_detail' event.join_event.pk %}">
                            {{event.join_event.event_date}} {{ event.join_event }} (主催：{{ event.join_event.group }})</a></label>
                            </p>
                        {% endfor %}
                        {% if user.join_set.all %}
                        <p><input type="submit" value="予約中止" class="btn btn-warning my-1"></p>
                        {% endif %}
                        </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button my-3 mx-auto">
                <a href="{% url 'userprofile_form' user.pk %}" class="btn btn-lg btn-warning btn-block my-1">編集する</a>
            </div>
        </div>
    </div>
{% endblock %}